wandb
*.swp
.python-version
wandb
wandb-debug.log
__pycache__
.ipynb_checkpoints
.DS_Store
out
datasets
prev_datasets
results
*.pyc
__pycache__
log.out
out.log
3rdparty
tmp
Tools
archive
transfer_data
transfer_data/
temp/
data/smpl
data/vposer
data/humor
data/scene_mesh